services:
  web:
    container_name: fastclass-docker
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    environment:
      - DEBUG=True
      - DB_HOST=db
      - DB_NAME=fastclass_db
      - DB_USER=fastclass_user
      - DB_PASSWORD=fastclass_password
      - DEFAULT_USER_EMAIL=testuser@gmail.com
      - DEFAULT_USER_PASSWORD=1234
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             python manage.py create_default_user &&
             python manage.py runserver 0.0.0.0:8000"

  db:
    container_name: fastclass-db
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=fastclass_db
      - POSTGRES_USER=fastclass_user
      - POSTGRES_PASSWORD=fastclass_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fastclass_user -d fastclass_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    container_name: fastclass-redis
    image: redis:7-alpine
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  static_volume:
  media_volume: