# Django
django~=4.2.25
djangorestframework==3.16.1

# Database
psycopg2-binary==2.9.11

# Images & safe HTML
Pillow==11.3.0
bleach==6.0.0

# Channels & redis
channels==4.3.0
channels-redis==4.3.0
websockets==11.0.3

# ASGI server
uvicorn[standard]==0.30.6

# Static files
whitenoise
