# Django
Django>=5.2,<6.1
djangorestframework>=3.16

# БД
psycopg2-binary>=2.9,<3.0

# Окружение
python-decouple>=3.8

# Очистка HTML
Pillow>=11.3.0
bleach>=6.0.0
tinycss2

# Websocket
channels>=4.3.2,<5.0
channels-redis>=4.3.0
websockets>=11.0.3

# ASGI
uvicorn[standard]>=0.30.6

# Статика
whitenoise>=6.11.0

# Тестирование
pytest
pytest-django
