<div class="modal fade" id="manualSectionModal" tabindex="-1"
     aria-labelledby="manualSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content border-0 shadow-lg rounded-4">
            <div class="modal-header border-0 pb-0 d-flex align-items-center">
                <p class="modal-title fw-bold mb-0 fs-5 me-auto"
                   id="manualSectionModalLabel">Новый раздел</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body pt-3 pb-4">
                <input type="text"
                       class="form-control mb-4 rounded-3 shadow-sm"
                       id="manualSectionName"
                       placeholder="Название раздела">

                <button class="btn w-100 rounded-3 shadow-sm fw-semibold btn-primary"
                        id="saveManualSection">
                    <span id="saveManualSectionText">Сохранить</span>
                </button>
            </div>
        </div>
    </div>
</div>