<!-- Modal: выбор типа задания -->
<div class="modal fade" id="taskSelectorModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-4 border-0 shadow-sm">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-semibold text-dark">Выберите тип задания</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            <div class="modal-body pt-2">
                <div class="container-fluid">
                    <div id="taskTypeSelectorContainer" class="row g-3 justify-content-center">
                        <!-- сюда кнопки с типами будут генерироваться через JS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>