{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/tasks_styles.css' %}">

    <div id="info"
         data-is-teacher="{{ is_teacher|yesno:'true,false' }}"
         data-lesson-id="{{ lesson_id }}"
         data-viewed-user-id="{{ viewed_user_id }}"
         data-is-classroom="true"
         data-classroom-id="{{ classroom_id }}"
         data-current-user-id="{{ current_user_id }}"
    >
    </div>

    <!-- Отображение заданий -->
    <script type="module">
        import { loadSectionTasks } from "{% static 'js/tasks/display/showTasks.js' %}";
    </script>

    <!-- Отображение списка разделов -->
    <script type="module">
        import { initRenderSections } from "{% static 'js/tasks/display/renderSections.js' %}";

        document.addEventListener("DOMContentLoaded", () => {
            initRenderSections();
        });
    </script>

    <!-- Загрузка панели управления классом и чата -->
    {% include 'core/tasks/classroom_panel.html' %}

    <!-- Чат -->
    <script type="module">
        import { initChat } from "{% static 'classroom/integrations/chat.js' %}";

        initChat();
    </script>

    <!-- Ответы -->
    <script type="module">
        import { registerAnswerEvents } from "{% static 'classroom/answers/handleAnswer.js' %}";

        registerAnswerEvents();
    </script>

    <!-- Взаимодейтсвие Websocket -->
    <script type="module">
        import { initVirtualClassWebSocket } from "{% static 'classroom/websocket/init.js' %}";
        import { initEvents } from "{% static 'classroom/websocket/sendMessage.js' %}";

        initVirtualClassWebSocket();
        initEvents();
    </script>

    <!-- Видеозвонок -->
    <script type="module">
        import { initVideoCallPanel } from '/static/classroom/integrations/call.js';

        document.addEventListener('DOMContentLoaded', function() {
            initVideoCallPanel();
        });
    </script>

    {% if is_teacher %}
        <link rel="stylesheet" href="{% static 'css/teacher_styles.css' %}">

        <!-- Загрузка модальных окон для редактирования -->
        {% include 'classroom/modals/task_select.html' %}
        {% include 'classroom/modals/section_create.html' %}
        {% include 'classroom/modals/invitation.html' %}
        {% include 'classroom/modals/lesson_select.html' %}

        <!-- Редактирование заданий -->
        <script type="module">
            import { initEditTasks } from "{% static 'js/tasks/editor/edit.js' %}";

            initEditTasks();
        </script>

        <!-- Управление учениками -->
        <script type="module">
            import { initStudentPanel, showAllPanelElements } from "{% static 'classroom/answers/classroomPanel.js' %}";
            import { eventBus } from "{% static 'js/tasks/events/eventBus.js' %}";
            import { sendWS } from "{% static 'classroom/websocket/sendMessage.js' %}";

            showAllPanelElements();
            initStudentPanel();

            eventBus.on("WS_connected", async () => {
                try {
                    sendWS("users:online");
                } catch (e) {
                    console.error("eventBus users:online failed", e);
                }
            });
        </script>

        <!-- Инициализация модальных окон -->
        <script type="module">
            import { initClassroomInviteModal } from "{% static 'classroom/modals/invitation.js' %}";

            initClassroomInviteModal(`{{ classroom_id }}`, `{{ classroom.join_password }}`);
        </script>

        <script type="module" src="/static/js/tasks/editor/lessonSelect.js"></script>
    {% else %}
        <!-- Разрешение копирования -->
        <script type="module">
            import { enableCopying, disableCopying } from "/static/classroom/copyingMode.js";

            const copying_enabled = {{ copying_enabled|yesno:"true,false" }};

            if (copying_enabled) {
                enableCopying();
            } else {
                disableCopying();
            }
        </script>
    {% endif %}

    <div class="row mt-4 d-flex justify-content-center">
        <div id="main-container" class="col-12 col-xl-9">
            <div id="task-list" class="bg-white p-3 rounded shadow-sm" style="min-height: 400px;"></div>

            {% if is_teacher %}
            <button id="add-task-btn"
                    class="btn btn-outline-primary w-100 p-4 fs-5 fw-bold shadow-sm border-primary mt-3">
                <i class="bi bi-plus-circle me-2"></i>
                Добавить задание
            </button>
            {% endif %}
        </div>

        <div id="sidebar"
             class="col-12 col-xl-3 my-4 my-xl-0 d-flex flex-column"
             style="max-height: 50vh;">

            <div class="card shadow-sm rounded p-2 d-flex flex-column"
                 style="max-height: 80vh; overflow-y: hidden;">

                <ul id="section-list"
                    class="list-group list-group-flush py-1"
                    style="overflow-y: auto; max-height: calc(80vh - 60px);">
                </ul>
            </div>
        </div>
    </div>

    <div id="notification-container"
         class="position-fixed bottom-0 start-0 mb-3 ms-3 d-flex flex-column-reverse gap-2"
         style="z-index: 1155; max-height: 60vh; max-width: 70vw; overflow-y: auto;">
    </div>


{% endblock %}
