<div id="panel"
     class="d-flex position-fixed justify-content-end end-0 align-items-center p-2 m-2"
     style="z-index: 1039; bottom: 0;">
    <div class="d-flex bg-white rounded shadow">
        <div class="m-2">
            <div class="dropdown d-inline-block ms-2 dropup">
                <button class="btn btn-sm btn-primary dropdown-toggle"
                        id="studentDropdown"
                        data-bs-toggle="dropdown">
                    Статистика
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow"
                    id="studentDropdownMenu">
                    <li>
                        <a class="dropdown-item student-option active"
                           href="#"
                           data-student-id="all">
                            Статистика
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dropdown d-inline-block ms-2 dropup">
                <button class="btn btn-sm btn-secondary"
                        data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow">
                    <li>
                        <button class="dropdown-item text-danger fw-semibold"
                                id="disableCopyingButton">
                            <i class="bi bi-ban me-2"></i>
                            Запретить копирование
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item text-secondary fw-semibold"
                                id="refreshPageButton">
                            <i class="bi bi-arrow-clockwise me-2"></i>
                            Обновить страницу
                        </button>
                    </li>
                    <li>
                        <a href="{{ send_homework_url }}"
                           class="dropdown-item text-primary fw-semibold">
                            <i class="bi bi-send me-2"></i>
                            Отправить Д/з
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>